@font-face {
    font-family: 'Vazirmatn';
    src: url('http://192.168.1.30:8080/Jahesh/public/fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2'),
         url('http://192.168.1.30:8080/Jahesh/public/fonts/vazirmatn/Vazirmatn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('http://192.168.1.30:8080/Jahesh/public/fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2'),
         url('http://192.168.1.30:8080/Jahesh/public/fonts/vazirmatn/Vazirmatn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn', Tahoma, Arial, sans-serif !important;
}
